h1 {
    margin-top: -0.5px;
    margin-bottom: -1px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

h5 {
    margin-top: -0.5px;
    margin-bottom: -1px;
}

.top-right {
    position: absolute;
    top: 20;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
}

.home-container {
    width: 1300px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.home-container img {
    margin-right: 50px;
}

.end-workout {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: black;
}

.end-workout-text {
    font-weight: bold;
    font-size: medium;
    margin-right: 10px;
    color: white;
}

.end-workout-image {
    padding-top: 10px;
    margin-left: 10px;
}

.table-heading {
    table-layout: fixed;
    width: 500px;
}

.workout-heading {
    table-layout: fixed;
    width: 900px;
}

.center-it-heading {
    display: flex;
    justify-content: center;
    padding: -5px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: steelblue;
    color: aliceblue;
}

.table-name-container {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    height: 20px;
}

.table-info-container {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: lightcyan;
}

.table-workout-center {
    margin-top: -0.5px;
    margin-bottom: -1px;
    text-align: center;
}

.table-workout-div {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.table-workout-div img {
    margin-left: 50px;
    border-radius: 30px;
}

.full-container {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
}

.image {
    position: relative;
    width: 150px;
    box-shadow: 0px 0px 0px gray;
}

.image img {
    border-radius: 30px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
    box-shadow: 10px 10px 10px black;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: 1em;
    font-weight: bold;
}

.image-description {
    font-size: 0.75em;
    margin-top: 0.25em;
}

.return-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.return-container img {
    margin-right: 30px;
    border-radius: 30px;
}

.text-decoration {
    text-decoration: none;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.image2 {
    position: relative;
    width: 130px;
    box-shadow: 0px 0px 0px gray;
}

.image2 img {
    border-radius: 30px;
}

.image2-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image2-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image2-overlay:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px black;
}

.image2-overlay:hover > * {
    transform: translateY(0);
}

.image2-title {
    font-size: 0.75em;
    font-weight: bold;
}

.image2-description {
    font-size: 0.6em;
    margin-top: 0.25em;
}

.form-small-font {
    font-weight: bold; 
    font-size: small;
    display: flex;
    justify-content: center;
}

.form-div-margin {
    margin-top: 10px;
}

.light-row {
    background-color: lightgoldenrodyellow;
}

.moderate-row {
    background-color: rgb(255,242,0);
}

.high-row {
    background-color: orange;
}

.extreme-row {
    background-color: orangered;
}

.add-image {
    margin-top: 10px;
    margin-left: 40px;
}

.summary-container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.workout-summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: black;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.workout-summary-container img {
    margin-right: 30px;
    border-radius: 30px;
}

.table-summary-container {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    height: 40px;
}

.table-summary-center {
    display: flex;
    height: 70px;
    text-align: center;
    align-items: center;
    background-color: lightcyan;
}

.table-summary-div {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.table-summary-div img {
    margin-left: 90px;
    border-radius: 50px;
}

.eat-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.time-to-eat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 30px;
    background-color: lightseagreen;
    color: black;
}

.time-to-eat-container img {
    margin-right: 30px;
    border-radius: 30px;
}

#duration {
    width: 61px;
}

#repetition {
    width: 51px;
}

#distance {
    width: 61px;
}

#sets {
    width: 54px;
}
