<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Page</title>
</head>
<body>
    <div data-th-if="${!empty}">
        <h3><span data-th-text="${username}"></span>, <span data-th-text="${message}"></span></h3>
        <h4>Your recommended nutrients intake:</h4>
    </div>
    <div data-th-if="${empty}">
        <h3><span data-th-text="${username}"></span>, you have yet to workout today.</h3>
        <h3>GET UP AND WORKOUT, YOU LAZY BUM!</h3>
        <h4>Your previous workout required nutrients:</h4>
    </div>

    <table>
        <tr>
            <td>
                <form action="/food/options" method="POST">
                    <input type="hidden" name="user" data-th-value="${username}">
                    <div>
                        <label for="minCalories">Minimum Calories:</label>
                        <input type="text" name="minCalories" data-th-value="${caloriesBurnt}">
                    </div>
                    <div>
                        <label for="minCarbs">Minimum Carbohydrates</label>
                        <input type="text" name="minCarbs" data-th-value="${recCarbs}">
                    </div>
                    <div>
                        <label for="minProtein">Minimum Protein</label>
                        <input type="text" name="minProtein" data-th-value="${recProtein}">
                    </div>
                    <div>
                        <label for="maxFat">Maximum Fats</label>
                        <input type="text" name="maxFat" data-th-value="${maxFats}">
                    </div>
                    <div>
                        <input type="submit" value="GO!">
                    </div>        
                </form>
            </td>
            <table>
                <tr>
                    <td>Time</td>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Image URL</td>
                    <td>Image Type</td>
                    <td>Calories</td>
                    <td>Protein</td>
                    <td>Fat</td>
                    <td>Carbs</td>
                    <td>Remove</td>
                </tr>
                <tr data-th-each="food:${foodList}">
                    <td data-th-text="${food.time}"></td>
                    <td data-th-text="${food.id}"></td>
                    <td data-th-text="${food.title}"></td>
                    <td data-th-text="${food.image}"></td>
                    <td data-th-text="${food.imageType}"></td>
                    <td data-th-text="${food.calories}"></td>
                    <td data-th-text="${food.protein}"></td>
                    <td data-th-text="${food.fat}"></td>
                    <td data-th-text="${food.carbs}"></td>
                    <td>
                        <form action="/food/delete" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <input type="hidden" name="time" data-th-value="${food.time}">
                            <input type="submit" value="REMOVE">
                        </form>
                    </td>

                </tr>
            </table>
        </tr>
    </table>
</body>
</html>