<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome <span data-th-text="${displayName}"></span></h1>
    <form action="/food" method="POST">
        <input type="hidden" name="name" data-th-value="${displayName}">
        <div>
            <label for="minCalories">Minimum Calories:</label>
            <input type="text" name="minCalories">
        </div>
        <div>
            <label for="minCarbs">Minimum Carbohydrates</label>
            <input type="text" name="minCarbs">
        </div>
        <div>
            <label for="minProtein">Minimum Protein</label>
            <input type="text" name="minProtein">
        </div>
        <div>
            <label for="maxFat">Maximum Fats</label>
            <input type="text" name="maxFat">
        </div>
        <div>
            <input type="submit" value="GO!">
        </div>        
    </form>

    <div>
        <h1>Food Archive</h1>
        <table>
            <tr data-th-each="food : ${foodArchive}">
                <td data-th-text="${food.time}"></td>
                <td data-th-text="${food.id}"></td>
                <td data-th-text="${food.title}"></td>
                <td data-th-text="${food.image}"></td>
                <td data-th-text="${food.imageType}"></td>
                <td data-th-text="${food.calories}"></td>
                <td data-th-text="${food.protein}"></td>
                <td data-th-text="${food.fat}"></td>
                <td data-th-text="${food.carbs}"></td>
            </tr>
        </table>
    </div>
</body>
</html>