<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.EA.L. Running</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/workout.css}">
</head>
<marquee behavior="" direction="" style="background-color: black; color: white;">
    KEEP RUNNING, DO NOT STOP! <span data-th-text="${username}"></span>. Be sure to end your workout within 2 hours to avoid losing your workout session record (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/Running Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <!-- Home container -->
    <div class="container text-start mb-3 home-div">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img class="rounded" data-th-src="@{/images/Application Logo.png}" alt="" height="100px">
        </a>
        <span class="display-6">Rest EAt Lift</span>
    </div>
    <!-- Navigation container -->
    <a class="text-decoration-none" data-th-href="@{/workout/{user}(user=${username})}">
        <div class="container text-center bg-black text-white py-1 mb-2 navi-div">
            <img class="rounded-circle" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
            <span>Select other workout OR End workout</span>
        </div>   
    </a>
    <!-- Heading containers -->
    <div class="container text-center mb-2">
        <div class="container row">
            <div class="col-5 heading-div">
                <span>Your workout session so far:</span>
            </div>
            <div class="col heading-div">
                <span>Select your run type</span>
            </div>
        </div>
    </div>
    <!-- Workout list and Run options container -->
    <div class="container text-center">
        <div class="container row">
            <!-- Workout list container -->
            <div class="col-5">
                <div class="container row" data-th-each="workout:${workoutList}">
                    <div class="workout-heading-box">
                        <h6 data-th-text="${workout.name}"></h6>
                    </div>
                    <div class="workout-content-box">
                        <img data-th-src="@{/images/Timer Icon.jpg}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.duration}"></span>
                        <img data-th-src="@{/images/Repetition Icon.jpg}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.repetition}"></span>
                        <img data-th-src="@{/images/Sets Icon.jpg}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.sets}"></span>
                        <img data-th-src="@{/images/Intensity Icon.jpg}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.intensity}"></span>
                    </div>    
                </div>
            </div>
            <!-- Run options container -->
            <div class="col">
                <div class="container row pt-2 mb-2 extreme-row">
                    <!-- Intervals container -->
                    <div class="col">
                        <div class="container text-center">
                            <div class="image2">
                                <img data-th-src="@{/images/INTERVALS.jpg}" alt="" width="130px" height="130px">
                                <div class="image2-overlay">
                                    <div class="image2-title">INTERVALS</div>
                                    <p class="image2-description">Short distance + High speed</p>
                                </div>
                            </div>
                            <div>
                                <form action="/workout/running/save1" method="POST">
                                    <input type="hidden" name="user" data-th-value="${username}">
                                    <label for="fastrun"><span class="form-input-label">INTERVALS</span></label>
                                    <input type="hidden" name="fastrun" data-th-value="${fastrun}">
                                    <div>
                                        <label for="distance"><small>Distance</small></label>
                                        <select name="distance" id="distance">
                                            <option value="100">100m</option>
                                            <option value="200">200m</option>
                                            <option value="300">300m</option>
                                            <option value="400">400m</option>
                                            <option value="800">>600m</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="sets"><small>Set Count</small></label>
                                        <select name="sets" id="sets">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <input class="mt-2" type="image" data-th-src="@{/images/Extreme Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Uncomfortable container -->
                    <div class="col">
                        <div class="container text-center">
                            <div class="image2">
                                <img data-th-src="@{/images/UNCOMFORTABLE.jpg}" alt="" width="130px" height="130px">
                                <div class="image2-overlay">
                                    <div class="image2-title">UNCOMFORTABLE</div>
                                    <p class="image2-description">For moderate distance</p>
                                </div>
                            </div>
                            <div>
                                <form action="/workout/running/save2" method="POST">
                                    <input type="hidden" name="user" data-th-value="${username}">
                                    <label for="modrun"><span class="form-input-label">UNCOMFORTABLE</span></label>
                                    <input type="hidden" name="modrun" data-th-value="${modrun}">
                                    <div>
                                        <label for="distance"><small>Distance</small></label>
                                        <select name="distance" id="distance">
                                            <option value="800">800m</option>
                                            <option value="1600">1.6km</option>
                                            <option value="2400">2.4km</option>
                                            <option value="3200">3.2km</option>
                                            <option value="4000">>4.0km</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="sets"><small>Set Count</small></label>
                                        <select name="sets" id="sets">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <input class="mt-2" type="image" data-th-src="@{/images/Extreme Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Long Distance Jog container -->
                    <div class="col">
                        <div class="container text-center">
                            <div class="image2">
                                <img data-th-src="@{/images/LONG DISTANCE JOG.jpg}" alt="" width="130px" height="130px">
                                <div class="image2-overlay">
                                    <div class="image2-title">LONG DISTANCE JOG</div>
                                    <p class="image2-description">Long distance + Low speed</p>
                                </div>
                            </div>
                            <div>
                                <form action="/workout/running/save3" method="POST">
                                    <input type="hidden" name="user" data-th-value="${username}">
                                    <label for="slowrun"><span class="form-input-label">LONG DISTANCE JOG</span></label>
                                    <input type="hidden" name="slowrun" data-th-value="${slowrun}">
                                    <div>
                                        <label for="distance"><small>Distance</small></label>
                                        <select name="distance" id="distance">
                                            <option value="3000">3km</option>
                                            <option value="4000">4km</option>
                                            <option value="5000">5km</option>
                                            <option value="6000">6km</option>
                                            <option value="7000">7km</option>
                                            <option value="8000">8km</option>
                                            <option value="9000">9km</option>
                                            <option value="10000">>10km</option>
                                        </select>
                                    </div>
                                    <input class="mt-2" type="image" data-th-src="@{/images/Extreme Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>