<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.EA.L. SPOONACULAR</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/food.css}">
</head>
<marquee behavior="" direction="" style="background-color: black; color: white;">
    <span data-th-text="${username}"></span>, select any food from SPOONACULAR to meet your dietary needs! (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/Food2 Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">
    
    <!-- <h5 class="top-right"><span data-th-text="${date}"></span></h5>
    
    <div class="full-container">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img data-th-src="@{/images/Application Logo.png}" alt="" height="100px">
        </a>
        <div>
            <span>In Partnership with</span>
        </div>
        <a href="https://spoonacular.com/">
            <img data-th-src="@{/images/Spoonacular Icon.jpg}" alt="" height="100px">
        </a>
    </div>

    <div class="center-it-message">
        <h3>Based on your dietary request, here are your food options</h3>
    </div>

    <table class="center-it-table">
        <tr data-th-each="food:${foodList}">
            <td>
                <div class="id-heading">
                    <h5>ID</h5>
                </div>
                <div class="id-box">
                    <span data-th-text="${food.id}"></span>
                </div>
            </td>
            <td>
                <div class="table-food-container1">
                    <h5><span data-th-text="${food.title}"></span></h5>
                    <h5>Date: <span data-th-text="${food.time}"></span></h5>    
                </div>
                <div class="table-food-container2">
                    <img id="food-id" data-th-src="@{{link}(link=${food.image})}" alt="">
                    <div class="table-food-center">
                        <div class="table-food-div">
                            <img data-th-src="@{/images/Calories Icon.jpg}" alt="" width="50px" height="50px">
                            <span data-th-text="${food.calories}"></span>kcal
                            <img data-th-src="@{/images/Milk Icon.jpg}" alt="" width="50px" height="50px">
                            <span data-th-text="${food.protein}"></span>
                            <img data-th-src="@{/images/Rice Icon.jpg}" alt="" width="50px" height="50px">
                            <span data-th-text="${food.carbs}"></span>
                            <img data-th-src="@{/images/Fats Icon.jpg}" alt="" width="50px" height="50px">
                            <span data-th-text="${food.fat}"></span>
                        </div>         
                    </div>    
                </div>
            </td> 
            <td>
                <div class="save-heading">
                    <h5>Save</h5>
                </div>
                <div class="save-box">
                    <form action="/food/save" method="POST">
                        <input type="hidden" name="user" data-th-value="${username}">
                        <input type="hidden" name="time" data-th-value="${food.time}">
                        <input type="hidden" name="id" data-th-value="${food.id}">
                        <input type="hidden" name="title" data-th-value="${food.title}">
                        <input type="hidden" name="image" data-th-value="${food.image}">
                        <input type="hidden" name="imageType" data-th-value="${food.imageType}">
                        <input type="hidden" name="calories" data-th-value="${food.calories}">
                        <input type="hidden" name="protein" data-th-value="${food.protein}">
                        <input type="hidden" name="fat" data-th-value="${food.fat}">
                        <input type="hidden" name="carbs" data-th-value="${food.carbs}">
                        <input type="image" data-th-src="@{/images/Save Icon.jpg}" alt="Submit" style="float:center" width="50px" height="50px">
                    </form>
                </div>
            </td>
        </tr>
    </table> -->

    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>

    <div class="container text-center homespoon-div mb-2">
        <div class="container row">
            <div class="col">
                <a data-th-href="@{/home?user={user}(user=${username})}">
                    <img class="rounded" data-th-src="@{/images/Application Logo.png}" alt="" height="100px">
                </a>
            </div>
            <div class="col">
                <span>In Partnership with</span>
            </div>
            <div class="col">
                <a href="https://spoonacular.com/">
                    <img class="rounded" data-th-src="@{/images/Spoonacular Icon.jpg}" alt="" height="100px">
                </a>
            </div>
        </div>
    </div>

    <div class="container text-center bg-black text-white navi-div">
        <img class="rounded-circle" data-th-src="@{/images/Food Icon.jpg}" alt="" height="30px">
        <span>Food Options from Spoonacular</span>
    </div>   

    <div class="container text-center ml-3">
        <div class="container row" data-th-each="food:${foodList}">
            <div class="col-1 text-center remove-margin">
                <div class="id-heading">
                    <span>ID</span>
                </div>
                <div class="id-box">
                    <span data-th-text="${food.id}"></span>
                </div>
            </div>
            <div class="col-10 text-center remove-margin">
                <div class="table-food-container1">
                    <h6 data-th-text="${food.title}"></h6>
                    <small data-th-text="${food.time}"></small>   
                </div>
                <div class="table-food-container2">
                    <img id="food-id" data-th-src="@{{link}(link=${food.image})}" alt="">                            
                    <div class="table-food-center">
                        <div class="table-food-div">
                            <img data-th-src="@{/images/Calories Icon.jpg}" alt="" width="50px" height="50px">
                            Calories: &nbsp;<span data-th-text="${food.calories}"></span>kcal
                            <img data-th-src="@{/images/Milk Icon.jpg}" alt="" width="50px" height="50px">
                            Protein: &nbsp;<span data-th-text="${food.protein}"></span>                                    
                            <img data-th-src="@{/images/Rice Icon.jpg}" alt="" width="50px" height="50px">
                            Carbohydrates: &nbsp;<span data-th-text="${food.carbs}"></span>
                            <img data-th-src="@{/images/Fats Icon.jpg}" alt="" width="50px" height="50px">
                            Fats: &nbsp;<span data-th-text="${food.fat}"></span>
                        </div>             
                    </div>
                </div>
            </div>
            <div class="col-1 text-center remove-margin">
                <div class="save-heading">
                    <span>Save</span>
                </div>
                <div class="save-box">
                    <form action="/food/save" method="POST">
                        <input type="hidden" name="user" data-th-value="${username}">
                        <input type="hidden" name="time" data-th-value="${food.time}">
                        <input type="hidden" name="id" data-th-value="${food.id}">
                        <input type="hidden" name="title" data-th-value="${food.title}">
                        <input type="hidden" name="image" data-th-value="${food.image}">
                        <input type="hidden" name="imageType" data-th-value="${food.imageType}">
                        <input type="hidden" name="calories" data-th-value="${food.calories}">
                        <input type="hidden" name="protein" data-th-value="${food.protein}">
                        <input type="hidden" name="fat" data-th-value="${food.fat}">
                        <input type="hidden" name="carbs" data-th-value="${food.carbs}">
                        <input type="image" data-th-src="@{/images/Save Icon.jpg}" alt="Submit" style="float:center" width="50px" height="50px">
                    </form>
                </div>          
            </div>
        </div>
    </div>
</body>
</html>