<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.EA.L. SPOONACULAR</title>
    <link rel="stylesheet" data-th-href="@{/css/food.css}">
</head>
<marquee behavior="" direction="" style="background-color: black; color: white;">
    <span data-th-text="${username}"></span>, select any food from SPOONACULAR to meet your dietary needs!
</marquee>
<body>
    <h5 class="top-right"><span data-th-text="${date}"></span></h5>
    
    <div class="full-container">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img data-th-src="@{/images/Application Logo.png}" alt="" height="100px">
        </a>
        <div>
            <span>In Partnership with</span>
        </div>
        <img data-th-src="@{/images/Spoonacular Icon.jpg}" alt="" height="100px">
    </div>

    <div class="center-it-message">
        <h3>Based on your dietary request, here are your food options</h3>
    </div>

    <table>
        <tr data-th-each="food:${foodList}">
            <div>
                <h5>ID: <span data-th-text="${food.id}"></span></h5>
                <h3 data-th-text="${food.title}"></h3>
                <p>
                    <img data-th-src="@{{link}(link=${food.image})}" alt="">
                    <h6 data-th-text="${food.calories}"></h6>
                    <h6 data-th-text="${food.protein}"></h6>
                    <h6 data-th-text="${food.fat}"></h6>
                    <h6 data-th-text="${food.carbs}"></h6> 
                </p>
            </div>
            <form action="/food/save" method="POST">
                    <input type="hidden" name="user" data-th-value="${username}">
                    <input type="hidden" name="time" data-th-value="${food.time}">
                    <input type="hidden" name="id" data-th-value="${food.id}">
                    <input type="hidden" name="title" data-th-value="${food.title}">
                    <input type="hidden" name="image" data-th-value="${food.image}">
                    <input type="hidden" name="imageType" data-th-value="${food.imageType}">
                    <input type="hidden" name="calories" data-th-value="${food.calories}">
                    <input type="hidden" name="protein" data-th-value="${food.protein}">
                    <input type="hidden" name="fat" data-th-value="${food.fat}">
                    <input type="hidden" name="carbs" data-th-value="${food.carbs}">
                    <input type="submit" value="Save">
            </form>
        </tr>
    </table>
</body>
</html>