<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.EA.L. SPOONACULAR</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/food.css}">
</head>
<marquee behavior="" direction="" style="background-color: black; color: white;">
    <span data-th-text="${username}"></span>, select any food from SPOONACULAR to meet your dietary needs! (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/Food2 Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">
    
    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <!-- Home container -->
    <div class="container text-center mb-3 homespoon-div">
        <div class="container row">
            <div class="col">
                <a data-th-href="@{/home?user={user}(user=${username})}">
                    <img class="rounded" data-th-src="@{/images/Application Logo.png}" alt="" height="100px">
                </a>
            </div>
            <div class="col">
                <span>In Partnership with</span>
            </div>
            <div class="col">
                <a href="https://spoonacular.com/">
                    <img class="rounded" data-th-src="@{/images/Spoonacular Icon.jpg}" alt="" height="100px">
                </a>
            </div>
        </div>
    </div>
    <!-- Heading container -->
    <div class="container text-center bg-black text-white py-1 mb-2 navi-div">
        <img class="rounded-circle" data-th-src="@{/images/Food Icon.jpg}" alt="" height="30px">
        <span>Food Options from Spoonacular</span>
    </div>   
    <!-- Food List container -->
    <div class="container text-center">
        <div class="container row" data-th-each="food:${foodList}">
            <!-- ID box -->
            <div class="col-1 text-center remove-right-margin">
                <div class="id-heading-box">
                    <span>ID</span>
                </div>
                <div class="id-content-box">
                    <span data-th-text="${food.id}"></span>
                </div>
            </div>
            <!-- Food Info box -->
            <div class="col-10 text-center remove-margin">
                <div class="foodspoon-heading-box">
                    <h6 data-th-text="${food.title}"></h6>
                </div>
                <div class="food-content-box">
                    <img id="food-id" data-th-src="@{{link}(link=${food.image})}" alt="">                            
                    <div class="food-content">
                        <img data-th-src="@{/images/Calories Icon.jpg}" alt="" width="40px" height="40px">
                        Calories: &nbsp;<span data-th-text="${food.calories}"></span>kcal
                        <img data-th-src="@{/images/Milk Icon.jpg}" alt="" width="40px" height="40px">
                        Protein: &nbsp;<span data-th-text="${food.protein}"></span>                                    
                        <img data-th-src="@{/images/Rice Icon.jpg}" alt="" width="40px" height="40px">
                        Carbohydrates: &nbsp;<span data-th-text="${food.carbs}"></span>
                        <img data-th-src="@{/images/Fats Icon.jpg}" alt="" width="40px" height="40px">
                        Fats: &nbsp;<span data-th-text="${food.fat}"></span>           
                    </div>
                </div>
            </div>
            <!-- Save box -->
            <div class="col-1 text-center remove-margin">
                <div class="save-heading-box">
                    <span>Save</span>
                </div>
                <div class="save-content-box">
                    <form action="/food/save" method="POST">
                        <input type="hidden" name="user" data-th-value="${username}">
                        <input type="hidden" name="time" data-th-value="${food.time}">
                        <input type="hidden" name="id" data-th-value="${food.id}">
                        <input type="hidden" name="title" data-th-value="${food.title}">
                        <input type="hidden" name="image" data-th-value="${food.image}">
                        <input type="hidden" name="imageType" data-th-value="${food.imageType}">
                        <input type="hidden" name="calories" data-th-value="${food.calories}">
                        <input type="hidden" name="protein" data-th-value="${food.protein}">
                        <input type="hidden" name="fat" data-th-value="${food.fat}">
                        <input type="hidden" name="carbs" data-th-value="${food.carbs}">
                        <input type="image" data-th-src="@{/images/Save Icon.jpg}" alt="Submit" style="float:center" width="50px" height="50px">
                    </form>
                </div>          
            </div>
        </div>
    </div>

</body>
</html>