<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.EA.L. Workout Summary</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/workout.css}">
</head>
<marquee behavior="" direction="" style="background-color: black; color: white;">
    <span data-th-text="${username}"></span>, Your workout summary. (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/Running Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <!-- Home container -->
    <div class="container text-center mb-3">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img class="rounded" data-th-src="@{/images/Application Logo.png}" alt="" height="130px">
        </a>
    </div>
    <!-- Heading container -->
    <div class="container text-center bg-black text-white py-1 mb-2 navi-div">
        <img class="rounded-circle" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
        <span>Workout Summary</span>
    </div>  

    <div class="container text-center mb-3">
        <div class="container row">
            <div class="workoutsum-heading-box">
                <h5 data-th-text="${workoutSummary.name}"></h5>
            </div>
            <div class="workoutsum-content-box">
                <img data-th-src="@{/images/Intensity Icon.jpg}" alt="" width="50px" height="50px">
                Total Intensity: &nbsp;
                <span data-th-text="${workoutSummary.totalIntensity}"></span>
                <img data-th-src="@{/images/CaloriesBurnt Icon.jpg}" alt="" width="50px" height="50px">
                Calories Burnt: &nbsp;
                <span data-th-text="${workoutSummary.caloriesBurnt}"></span>kcal
                <img data-th-src="@{/images/Protein Icon.jpg}" alt="" width="50px" height="50px">
                Rec. Protein: &nbsp;
                <span data-th-text="${workoutSummary.recProtein}"></span>g
                <img data-th-src="@{/images/Carbs Icon.jpg}" alt="" width="50px" height="50px">
                Rec. Carbs: &nbsp;
                <span data-th-text="${workoutSummary.recCarbs}"></span>g
            </div>
        </div>
    </div>

    <a class="text-decoration-none" data-th-href="@{/food/{user}(user=${username})}">
        <div class="container text-center text-black py-3 eat-div">
            <img class="rounded-circle" data-th-src="@{/images/Cutlery Icon.jpg}" alt="" height="30px">
            <h6>Time to eat!</h6>
        </div>   
    </a>

</body>
</html>