<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to workout</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>

<body>
    <h1><span data-th-text="${username}"></span>, Time to workout!</h1>

    <div>
        <form action="/workout/summary" method="POST">
            <input type="hidden" name="user" data-th-value="${username}">
            <label for="workoutName">Give a name for your workout!</label>
            <input type="text" name="workoutName" required>
            <input type="submit" value="END WORKOUT!">
        </form>
    </div>

    <div>
        <table>
            <tr>
                <td>
                    <h3>Workout List</h3>
                    <div data-th-each="workout:${workoutList}">
                        <span data-th-text="${workout.name}"></span>
                        <span data-th-text="${workout.duration}"></span>
                        <span data-th-text="${workout.repetition}"></span>
                        <span data-th-text="${workout.sets}"></span>
                        <span data-th-text="${workout.intensity}"></span>
                    </div>
                </td>
                <td>
                    <a data-th-href="@{/workout/static-duration/{user}(user=${username})}">STATIC DURATION</a>
                    <a data-th-href="@{/workout/static-repetition/{user}(user=${username})}">STATIC REPETITION</a>
                    <a data-th-href="@{/workout/running/{user}(user=${username})}">RUNNING</a>
                </td>
            </tr>
        </table>
    </div>


</body>
</html>