.home-div img {
    margin-right: 30px;
    margin-top: -30px;
}

.navi-div {
    border-radius: 30px;
}

.heading-div {
    border: 1px solid black;
    border-radius: 30px;
    background-color: seagreen;
    color: aliceblue;
    opacity: 0.9;
}

.form-div {
    border: 1px solid black;
    border-radius: 30px;
    height: 250px;    
    background-color: lightseagreen;
    opacity: 0.9;
}

.form-div input {
    background-color: aquamarine;
    font-size: small;
}

.food-heading-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background-color: lightseagreen;
}

.italicize {
    font-style: italic;
}

.food-content-box {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: aquamarine;
    opacity: 0.9;
}

#food-id {
    height: 70px;
}

.food-content img {
    margin-left: 30px;
    border-radius: 50px;
}

.remove-margin {
    margin-left: -20px;
    margin-right: -20px;
}

.remove-heading-box {
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: orangered;
}

.remove-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: lightcoral; 
    opacity: 0.9;
}

.homespoon-div {
    width: 700px;
}

.id-heading-box {
    background-color: gold;
    height: 25px;
}

.id-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: lightgoldenrodyellow;
    opacity: 0.9;
}

.remove-right-margin {
    margin-right: -5px;
}

.foodspoon-heading-box {
    display: flex;
    justify-content: center;
    height: 25px;
    background-color: lightseagreen;
}

.save-heading-box {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 25px;
    background-color: gray;
}

.save-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70px;
    background-color: lightgray; 
    opacity: 0.9;
}