.home-div {
    width: 1100px;
    border-radius: 30px;
}

.image {
    position: relative;
    width: 150px;
    box-shadow: 0px 0px 0px gray;
}

.image img {
    border-radius: 30px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
    box-shadow: 10px 10px 10px black;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: 1em;
    font-weight: bold;
}

.image-description {
    font-size: 0.75em;
    margin-top: 0.25em;
}

.italicize {
    font-style: italic;
}

.workout-heading-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background-color: lightskyblue;
    
}

.workout-content-box {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: lightcyan;
    opacity: 0.9;
}

.workout-content-box img {
    margin-left: 80px;
    border-radius: 50px;
}

.food-heading-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background-color: lightseagreen;
}

.food-content-box {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: aquamarine;
    opacity: 0.9;
}

#food-id {
    height: 70px;
}

.food-content img {
    margin-left: 40px;
    border-radius: 50px;
}