.home-div img {
    margin-right: 30px;
    margin-top: -30px;
}

.navi-div {
    border-radius: 30px;
}

#end-input {
    font-size: small;
    height: 25px;
}

.heading-div {
    border: 1px solid black;
    border-radius: 30px;
    background-color: steelblue;
    color: aliceblue;
    opacity: 0.9;
}

.workout-heading-box {
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: lightskyblue;
}

.workout-content-box {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: lightcyan;
    opacity: 0.9;
}

.workout-content-box img {
    margin-left: 40px;
    border-radius: 50px;
}

.image {
    position: relative;
    width: 150px;
    box-shadow: 0px 0px 0px gray;
}

.image img {
    border-radius: 30px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 23;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
    box-shadow: 10px 10px 10px black;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: 1em;
    font-weight: bold;
}

.image-description {
    font-size: 0.75em;
    margin-top: 0.25em;
}

.image2 {
    position: relative;
    margin-left: 10px;
    width: 130px;
    box-shadow: 0px 0px 0px gray;
}

.image2 img {
    border-radius: 30px;
}

.image2-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image2-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image2-overlay:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px black;
}

.image2-overlay:hover > * {
    transform: translateY(0);
}

.image2-title {
    font-size: 0.75em;
    font-weight: bold;
}

.image2-description {
    font-size: 0.6em;
    margin-top: 0.25em;
}

.form-input-label {
    font-weight: bold; 
    font-size: small;    
}

.light-row {
    border-radius: 50px;    
    background-color: lightgoldenrodyellow;
    opacity: 0.8;
}

.moderate-row {
    border-radius: 50px;    
    background-color: rgb(255,242,0);
    opacity: 0.8;

}

.high-row {
    border-radius: 50px;    
    background-color: orange;
    opacity: 0.8;
}

.extreme-row {
    border-radius: 50px;    
    background-color: orangered;
    opacity: 0.8;
}

#duration {
    width: 61px;
    font-size: small;
}

#repetition {
    width: 51px;
    font-size: small;
}

#distance {
    width: 61px;
    font-size: small;
}

#sets {
    width: 54px;
    font-size: small;
}

.workoutsum-heading-box {
    display: flex;
    justify-content: center;
    height: 30px;
    background-color: lightskyblue;
}

.workoutsum-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: lightcyan;
    opacity: 0.9;
}

.workoutsum-content-box img {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
}

.eat-div {
    width: 500px;
    border-radius: 40px;
    border: 1px solid black;
    background-color: lightseagreen;
}